@use 'variables';
@use 'reset';

/* Utils */
.heading-l {
  font-family: SpaceGroteskBold;
  font-size: variables.$heading-500;
  line-height: 4.438rem; //71px
}

.heading-m {
  font-family: SpaceGroteskBold;
  font-size: variables.$heading-400;
  line-height: 1.938rem; //31px

}

.heading-s {
  font-family: SpaceGroteskBold;
  font-size: variables.$heading-300;
  line-height: 1.625rem; //26px

}

.heading-xs {
  font-family: SpaceGroteskBold;
  font-size: variables.$heading-200;
  line-height: 1.313rem; //21px

}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.text-transform-up {
  text-transform: uppercase;
}

.jusitify-center {
  justify-content: center !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;

  }
}

#root {
  overflow: hidden;
}


// .tablet-flex-order-1 {
//   @media (min-width: variables.$tablet) {
//     order: 1;
//   }
// }



body {
  font-family: SpaceGroteskMedium;
  font-size: variables.$body-400;
  line-height: 1.313rem; //21px
  background-color: variables.$purle-300;

  @media (min-width: variables.$tablet) {
    background-color: variables.$purle-400;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
    height: 100vh;
  }

  #popup-overlay {
    width: 100%;
    height: 200vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
  }

  .primary-button {
    padding: .5rem;
    border-radius: 20px;
    background-color: variables.$purle-400;
    text-decoration: none;
    min-width: 6.75rem;
    text-align: center;
    color: white;

    @media (min-width: variables.$tablet) {
      &:hover {
        background-color: variables.$pink-400;
        cursor: pointer;
      }
    }

    @media (min-width: variables.$tablet) {
      padding: 9px 20px 10px 21px;
      min-width: none;
    }
  }

  /* Ingame style */
  .ingame-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$purle-300;
    height: inherit;
    padding: 3.125rem 2rem;
    //padding: 4rem 2rem;

    @media (min-width: variables.$tablet) {
      padding: 1.875rem 4.25rem 5.25rem 4.25rem;
    }

    .ingame-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 2rem;
      grid-area: ingame-header;

      @media (min-width: variables.$desktop) {
        width: 60%;
      }

      img {
        width: 2.5rem;
        height: 2.5rem;

        @media (min-width: variables.$tablet) {
          width: 3.25rem;
          height: 3.25rem;
        }
      }
    }

    .grid-container {
      display: grid;
      gap: 0 1.25rem;


      grid-template-areas:
        "ingame-header ingame-header"
        "score-board-player-one score-board-player-two"
        "game-board game-board";

      @media (min-width: variables.$tablet) {
        gap: 0 3.75rem;
      }

      @media (min-width: variables.$desktop) {
        grid-template-areas:
          "ingame-header ingame-header ingame-header"
          "score-board-player-one game-board score-board-player-two";
        align-items: center;
        justify-items: center;
      }

      .score-board-player-one {
        grid-area: score-board-player-one;
        justify-self: end;
      }

      .score-board-player-two {
        grid-area: score-board-player-two;

        @media (min-width: variables.$desktop) {
          order: 5;
        }
      }

      .avatar-player-one,
      .avatar-player-two {
        width: 3.375rem;
        position: relative;
        bottom: 4.25rem;

        @media (min-width: variables.$tablet) {
          bottom: 4.7rem;
        }

        @media (min-width: variables.$desktop) {
          bottom: 11.5rem;
        }
      }

      .avatar-player-one {
        right: 23px;


        @media (min-width: variables.$tablet) {
          right: 1.5rem;
        }

        @media (min-width: variables.$desktop) {
          left: 2.5rem;
          right: 0;
        }
      }

      .avatar-player-two {
        left: 7.15rem;

        @media (min-width: variables.$tablet) {
          left: 16rem;
        }

        @media (min-width: variables.$desktop) {
          left: 2.5rem;
        }
      }
    }

    .score-and-board {
      display: flex;
      flex-direction: row;

      @media (max-width: variables.$tablet) {
        max-width: 60%;
      }

      @media (min-width: variables.$tablet) {
        align-items: center;
        gap: 2rem;
      }

    }


    .score {
      font-size: 32px;
      font-family: SpaceGroteskBold;

      @media (min-width: variables.$tablet) {
        font-size: variables.$heading-500;
      }
    }

    .game-board {
      max-height: 21rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-area: game-board;

      @media (min-width: variables.$tablet) {
        max-height: 39.5rem;
      }



      .white-board {
        position: relative;
        bottom: 3rem;
        z-index: 3;


        @media (min-width: variables.$tablet) {
          bottom: 4.1rem;
        }

        @media (min-width: variables.$desktop) {
          bottom: 1.1rem;
        }
      }

      .black-board {
        position: relative;
        top: 17rem;
        z-index: 1;

        @media (min-width: variables.$tablet) {
          top: 33rem;
        }

        @media (min-width: variables.$desktop) {
          top: 36rem;
        }
      }

      .board {
        width: 335px;
        height: 310px;
        min-height: 310px;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 22rem;
        color: red;
        font-weight: bold;

        @media (min-width: variables.$tablet) {
          height: 36.5rem;
          min-height: 36.5rem;
          width: 39.5rem;
          bottom: 40rem;
        }

        @media (min-width: variables.$desktop) {

          bottom: 36.6rem;
        }

        .row-board {
          display: flex;
          min-width: 319px;
          margin-left: 6.8px;
          margin-bottom: 6.5px;

          @media (min-width: variables.$tablet) {
            min-width: 616px;
            margin-left: 15.8px;
            margin-bottom: 17px;
          }
        }

        .column-board {
          min-width: 40px;
          min-height: 276px;
          margin-right: 7px;
          z-index: 15;
        }

        .cursor {
          position: relative;
          bottom: 2.5rem;
          width: 32px;
          height: 26px;
          left: 1.5rem;
          content: url(./images/marker-red.svg);

          &.hidden {
            visibility: hidden;
          }

          &.j1 {
            @media (min-width: variables.$desktop) {
              content: url(./images/marker-red.svg);
            }
          }

          &.j2 {
            @media (min-width: variables.$desktop) {
              content: url(./images/marker-yellow.svg);
            }
          }
        }

        .disc-slot {
          display: flex;
          justify-content: center;
          height: 40px;
          width: 40px;
          margin-right: 6.65px;
          position: relative;
          z-index: 10;
          cursor: pointer;

          &.hover-player-one {
            @media (min-width: variables.$desktop) {
              content: url(./images/marker-red.svg);
              position: relative;
              bottom: 2.3rem;
              width: 32px;
              height: 26px;
              left: 1.5rem;
            }
          }

          &.hover-player-two {
            @media (min-width: variables.$desktop) {
              content: url(./images/marker-yellow.svg);
              position: relative;
              bottom: 2.3rem;
              width: 32px;
              height: 26px;
              left: 1.5rem;
            }
          }

          @media (min-width: variables.$tablet) {
            height: 72px;
            width: 70px;
            margin-right: 18px;
          }

          .circle {
            position: absolute;
            z-index: 13;
            min-width: 15px;
            min-height: 15px;
            background-color: transparent;
            border-radius: 50%;
            bottom: 8px;
            left: 11px;
            padding: 4px;
            border: 6px solid white;

            @media (min-width: variables.$tablet) {
              min-width: 34px;
              min-height: 34px;
              left: 19px;
              bottom: 15px;
            }

            @media (min-width: variables.$desktop) {
              bottom: 46px;
            }
          }


          &:hover {
            cursor: pointer;
          }

          &.token-player-one,
          &.token-player-two {

            -webkit-animation: mover .6s 1 normal;
            animation: mover .6s 1 normal;

            @-webkit-keyframes mover {
              0% {
                transform: translateY(-45vh);
              }

              100% {
                transform: translateY(0);
              }
            }

            @keyframes mover {
              0% {
                transform: translateY(-45vh);
              }

              100% {
                transform: translateY(0);
              }
            }
          }

          &.token-player-one {

            &:after {
              content: url(./images/counter-red-small.svg);
              position: relative;

              @media (min-width: variables.$tablet) {
                content: url(./images/counter-red-large.svg);
                top: 3px;
              }

              @media (min-width: variables.$desktop) {
                top: -29px;

              }
            }
          }

          &.token-player-two {
            &:after {
              content: url(./images/counter-yellow-small.svg);
              position: relative;


              @media (min-width: variables.$tablet) {
                content: url(./images/counter-yellow-large.svg);
                top: 3px
              }

              @media (min-width: variables.$desktop) {
                top: -29px;
              }
            }
          }
        }
      }


    }

    .game-messages-container {
      position: relative;
      color: white;
      max-height: 12rem;
      bottom: 4.5rem;
      z-index: 20;

      @media (min-width: variables.$tablet) {
        bottom: 8rem;
      }

      @media (min-width: variables.$desktop) {
        bottom: 5rem;
      }

      &:after {
        background-color: red;
      }

      .win-message-container {
        display: flex;
        flex-direction: column;
        min-width: 17.813rem;
        background-color: white;
        border: 3px solid black;
        color: black;
        align-items: center;
        padding: .5rem;
        gap: .5rem;
        min-height: 10rem;
        border-radius: 2.5rem;
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 5px, black 0px 13px 0px 0px;
      }
    }

    .turn-infos {
      position: relative;
      bottom: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.playerOne {
        color: white;
      }

      &.playerTwo {
        color: black;
      }
    }
  }

  .popup-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: variables.$purle-300;
    align-items: center;
    color: white;
    border-radius: 2rem;
    padding: 1.875rem 1.25rem;
    border: 3px solid black;
    box-shadow: rgb(0 0 0 / 16%) 0px 5px 5px, black 0px 11px 0px 0px;
    position: fixed;
    width: 90%;
    max-height: 27.313rem;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    @media (min-width: variables.$tablet) {
      max-width: 30rem;
      max-height: 30.688rem;
      padding: 3.125rem 2.5rem;
      gap: 1.875rem;

    }
  }

  .filter {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    background-color: aliceblue, .5;
  }

  #filter {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
    height: initial;
  }

  .ingame-footer {
    background-color: hsl(257deg, 67%, 51%);
    border-radius: 73px 73px 0 0;
    min-height: 50vh;
    position: relative;
    bottom: 17rem;
    right: 0rem;
    width: 100vw;
    z-index: 0;

    @media (min-width: variables.$tablet) {
      bottom: 19rem;
      min-height: 14.625rem
    }

    @media (min-width: variables.$desktop) {
      bottom: 17rem;
      min-height: 20rem;
    }

    &.playerOneWin {
      background-color: variables.$pink-400;
    }

    &.playerTwoWin {
      background-color: variables.$yellow-400;
    }

    &.winner {
      bottom: 15rem;

      @media (min-width: variables.$tablet) {
        bottom: 17rem;
      }

      @media (min-width: variables.$desktop) {
        bottom: 15rem;
      }
    }
  }

  /* Rules style*/
  .rules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: variables.$purle-300;
    width: 100%;
    height: 100%;
    justify-content: center;

    .rules {
      display: flex;
      flex-direction: column;
      padding: 1.875rem 1.25rem 3.813rem 1.25rem;
      gap: 1.813rem;
      background-color: white;
      border: 3px solid black;
      border-radius: 2.5rem;
      box-shadow: rgb(0 0 0 / 16%) 0px 5px 5px, black 0px 13px 0px 0px;
      max-width: 30rem;
      min-height: 36.625rem;

      @media (min-width: variables.$tablet) {
        gap: 0;
        min-height: 33.563rem;
        padding: 1.875rem 2.125rem 3.375rem 2.125rem;

      }

      .rules-content {
        display: flex;
        flex-direction: column;
        gap: 1.813rem;
      }

      .rules-objective {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .rules-how-to-play {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .rules-list {
        padding-inline-start: 1rem;
        counter-reset: item;
        padding: 0;
        word-break: break-all;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;


        .rules-list-element {
          display: block;

          &:before {
            content: counter(item);
            counter-increment: item;
            font-weight: bold;
            padding-right: 1.063rem;
            display: inline-block;
          }
        }
      }


      .rules-title {
        color: variables.$purle-300;
      }

      .rules-main-title {
        display: flex;
        justify-content: center;

        @media (min-width: variables.$desktop) {
          margin-bottom: 1.813rem;

        }

      }
    }

    .rules-check {
      position: relative;
      text-align: center;
      bottom: 2.5rem;

      svg {
        @media (min-width: variables.$tablet) {
          cursor: pointer;
          fill: variables.$purle-400;
        }
      }
    }
  }

  /* Menu style */
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 1.25rem;
    position: relative;
    bottom: 3.5rem;
    min-width: 100%;

    @media (min-width: variables.$tablet) {
      background-color: variables.$purle-300;
      border: 3px solid black;
      box-shadow: rgb(0 0 0 / 16%) 0px 5px 5px, black 0px 7px 0px 0px;
      padding: 4.375rem 2.5rem 3.75rem 2.5rem;
      border-radius: 2.5rem;
      min-height: 27.188rem;
      bottom: 0;
      min-width: 30rem;
    }

    .logo-container {
      display: flex;
      justify-content: center;
      padding: 0 3rem 4.938rem 3rem;
    }

    img {
      width: 3.25rem;
    }
  }

  .interactive-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .interactive-button {
    display: flex;
    align-items: center;
    border: 3px solid black;
    justify-content: space-between;
    padding: 0.625rem 1rem;
    min-height: 4.5rem;
    box-shadow: rgb(0 0 0 / 16%) 0px 5px 5px, black 0px 9px 0px 0px;
    border-radius: 18px;
    width: 100%;
    text-decoration: none;
    color: black;

    @media (min-width: variables.$tablet) {
      box-shadow: rgb(0 0 0 / 16%) 0px 5px 5px, black 0px 11px 0px 0px;

      &:hover {
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 5px, variables.$purle-400 0px 7px 0px 0px;
        border-color: variables.$purle-400;
      }
    }

    &.primary {
      background-color: variables.$yellow-400;
    }

    &.secondary {
      background-color: white;
    }

    &.tertiary {
      background-color: variables.$pink-400;
      color: white;
    }

    img {
      width: 5.125rem;
    }

    &.player-panel {
      flex-direction: column;
      min-width: 8.875rem;
      gap: .75rem;
      padding: .5rem;

      @media (max-width: variables.$tablet) {
        max-width: 8.875rem;

      }

      @media (min-width: variables.$desktop) {
        justify-content: center;
      }

      @media (min-width: variables.$tablet) {
        min-width: 17rem;
        min-height: 6.25rem;
        flex-direction: row;


        .player-name {
          font-size: variables.$heading-300;
          line-height: 1.625rem;

        }
      }

      @media (min-width: variables.$desktop) {
        min-width: unset;
        gap: 2rem;

      }

      &.first-player,
      &.second-player {
        @media (min-width: variables.$desktop) {
          flex-direction: column;
          min-height: 10rem;
          padding: 2rem 1.75rem;
        }
      }

      &.first-player {
        @media (min-width: variables.$tablet) {
          padding: 14px 20px 15px 44px;

        }

        @media (min-width: variables.$desktop) {
          padding: 2rem 1.75rem;
        }
      }

      &.second-player {
        @media (min-width: variables.$tablet) {
          padding: 14px 44px 15px 20px;
        }

        @media (min-width: variables.$desktop) {
          padding: 2rem 1.75rem;
        }

        // @media (min-width: variables.$tablet) {
        //   order: 1;
        // }
      }

      .player-name {
        font-size: variables.$heading-200;
        font-weight: 700;

      }
    }
  }
}